NODE_ENV=development
PORT=3000

JWT_ACCESS_TOKEN_SECRET=access_token_secret
JWT_REFRESH_TOKEN_SECRET=refresh_token_secret

MONGO_URI=mongodb+srv://babyakwork:iBg7OywuWiCnvk72@main.qvlnriw.mongodb.net/?appName=Main
MONGO_DB_NAME=inforce_test

REDIS_URL=redis://default:SznzWIXzUSsjk4ZAF9nqJxceqjMzChi5@redis-16798.crce175.eu-north-1-1.ec2.cloud.redislabs.com:16798